<footer class="bg-color">
    <div class="container">
        <div class="footer">
            <h2 class="footer__title">Contact</h2>
            <div class="footer__image">
                <img src="images/ico-contacts.png" alt="ico-contacts">
            </div>
        </div><!-- .contacts-footer-->

        <div class="row">
            <div class="col-12 col-md-6 col-xl-3">
                <div class="contacts-footer">
                    <h5 class="contacts-footer__title">About Us</h5>
                    <div class="contacts-footer__paragraph">Sed a lorem quis neque interdum sed semol duis quistroma tempor nunc
                        inter dum et malesu</div>
                </div><!-- .contacts-footer-->
            </div><!-- .col-->

            <div class="col-12 col-md-6 col-xl-3">
                <div class="contacts-footer">
                    <h5 class="contacts-footer__title">Contacts</h5>
                    <div class="contacts-footer__paragraph">
                        444 - 345656789
                        santa@mail.com
                        www.santa.com
                    </div>
                </div><!-- .contacts-footer-->
            </div><!-- .col-->

            <div class="col-12 col-md-6 col-xl-3">
                <div class="contacts-footer">
                    <h5 class="contacts-footer__title">Address</h5>
                    <div class="contacts-footer__paragraph">
                        577 Black Oak
                        Hollow Road
                        Sunnyvale, CA 94089
                    </div>
                </div><!-- .contacts-footer-->
            </div><!-- .col-->
        </div><!-- .row-->
        <div class="footer-copyright">
            <div class="footer-copyright__copyright">Copyright © 2017 Santa</div>
            <div class="footer-copyright__link">unsubscribe | go to the website</div>
        </div><!-- .footer-copyright-->
    </div><!-- .container-->
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
<script src="js/app.min.js"></script>
</body>
</html>
