<div class="col-4 mobile-hidden">
    <div class="left-section">
        <h3 class="left-title">Categories</h3>
        <ul class="left-menu">
            <li class="left-menu__item">
                <a class="left-menu__link" href="/categories-page.html">Advent Calendars</a>
            </li>
            <li class="left-menu__item">
                <a class="left-menu__link" href="/">Christmas Candles</a>
            </li>
            <li class="left-menu__item">
                <a class="left-menu__link" href="/">Clothes</a>
            </li>
            <li class="left-menu__item">
                <a class="left-menu__link" href="/">Craft Decorations</a>
            </li>
            <li class="left-menu__item">
                <a class="left-menu__link" href="/">Christmas Garlands</a>
            </li>
            <li class="left-menu__item">
                <a class="left-menu__link" href="/">Paper Decorations</a>
            </li>
            <li class="left-menu__item">
                <a class="left-menu__link" href="/">Card Holders</a>
            </li>
            <li class="left-menu__item">
                <a class="left-menu__link" href="/">Stockings and Bags</a>
            </li>
            <li class="left-menu__item">
                <a class="left-menu__link" href="/">Tree Lights & Lighting</a>
            </li>
            <li class="left-menu__item">
                <a class="left-menu__link" href="/">Food</a>
            </li>
            <li class="left-menu__item">
                <a class="left-menu__link" href="/">Traditional Decorations</a>
            </li>
            <li class="left-menu__item">
                <a class="left-menu__link" href="/">Wreaths</a>
            </li>
            <li class="left-menu__item">
                <a class="left-menu__link" href="/">Sale</a>
            </li>
        </ul>
    </div><!-- .left-section-->
</div><!-- .col-->
