.category-item {
  border: 1px solid #ececec;
  padding: 0 10px;

  &__title {
    text-align: center;
    padding-top: 20px;
  }

  &__img {
    width: 100%;
    padding-top: 20px;
  }

  &__description {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 30px;
  }

  &__price {
    text-align: center;
    color: $red;
    padding-top: 20px;
    margin-bottom: 20px;
  }

  &__add {
    text-align: center;
    font-size: 1rem;
    color: $dark;
  }

  &__input {
    width: 60px;
    height: 25px;
    text-align: center;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    float: right;
    margin-right: 20px;
  }
}

.add-to-cart-btn_float-right {
  float: right;
}
