body {
  font-size: 1.2rem;
}

h1 {
  font: $h1;
}

h2 {
  font: $h2;
}

h3 {
  font: $h3;
}

h4 {
  font: $h4;
}

h5 {
  font: $h5;
}

h6 {
  font: $h6;
}

p {
  font-family: $main-font;
}


.background-img {
  background: none;
}

@media (min-width: 992px) {
  .background-img {
    background: url(../images/body-top-bg.png) no-repeat;
    height: 400px;
    margin-bottom: 30px;
  }
}

.page-section {
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  .page-section {
    transform: translateY(160%);
  }
}

.mobile-hidden {
  display: none;
}

@media (min-width: 992px) {
  .mobile-hidden {
    display: block;
  }
}

.main-title {
  text-align: center;
  margin-bottom: 30px;

  &:after {
    content: "";
    display: block;
    border: 1px solid #ececec;
    width: 100%;
    margin-top: 30px;
  }
}

@media (min-width: 992px) {
  .main-title {
    text-align: left;
  }
}

.left-title {
  margin-bottom: 30px;

  &:after {
    content: "";
    display: block;
    border: 1px solid #ececec;
    width: 50%;
    margin-top: 30px;
  }
}
