.contact-us {
  margin-bottom: 50px;
}

.contacts {
  margin-bottom: 30px;

  &::after {
    content: "";
    display: block;
    border: 1px solid #ececec;
    width: 100%;
    margin-top: 30px;
  }
}

.contact-us-form {
  padding-top: 30px;

  &__label {
    margin-bottom: 20px;

    &::after {
      content: " *";
      color: $red;
    }
  }

  &__message {
    height: 200px;
    margin-bottom: 20px;
  }
}

.required-info {
  color: #a3a3a3;
  text-align: right;
  margin-bottom: 15px;
  font-size: 1rem;
}
