.bg-color {
  background-color: $red;
}

.contacts-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  color: white;

  &__title {
    align-self: flex-start;
    margin-bottom: 30px;
  }

  &__paragraph {
    padding-left: 40px;
  }
}

.footer {
  padding-top: 40px;
  text-align: center;

  &__title {
    color: white;
    margin-bottom: 30px;
  }

  &__image {
    margin-bottom: 30px;
  }
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  color: white;
  flex-wrap: wrap;
}
