.header-navbar {
  width: 100%;
}

@media (min-width: 992px) {
  .header-navbar {
    background-color: #fff;
    padding: 20px 20px;

    &__logo {
      width: 160px;
      height: 40px;
      margin-right: 40px;
    }
  }
}

.nav-item {
  margin-right: 15px;
}

.nav-link {
  font-family: $cursive-font;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 18px;
  color: $dark;

  &:hover {
    color: $red;;
  }
}

.active {
  color: $red;
}
