.page-greeting {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    color: #d6575b;
    margin-bottom: 20px;
  }

  &__img {
    margin-bottom: 30px;
  }

  &__text {
    margin-bottom: 40px;
  }
}

.feature {
  text-align: center;
  margin-bottom: 70px;

  &__img {
    width: 100px;
    height: 60px;
    margin-bottom: 20px;
  }
}

.left-section {
  margin-bottom: 50px;
}

.left-menu {
  font-size: 1rem;;

  &__item {
    margin-bottom: 10px;
    list-style-image: url('/images/marker1.png');
    padding-left: 20px;
  }

  &__link {
    text-decoration: none;
    color: #808080;

    &:hover {
      color: $red;
    }

    &_active {
      color: $red;
    }
  }
}

.store {
  margin-bottom: 20px;

  &__displaying {
    font-size: 1rem;
    padding-left: 20px;
    margin-bottom: 30px;
  }
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 30px;

  &__img {
    width: 240px;
    border: 2px solid #ececec;
    padding: 10px;
    margin-bottom: 20px;
  }


  &__title {
    display: inline-block;
    width: 180px;
    text-align: center;
    color: #a8a8a8;

    &:hover {
      color: #4d5255;
    }
  }

  &__price {
    text-align: center;
    color: $red;

    &_old-price {
      padding: 0px 35px;
      color: #f7a7a9;
      text-decoration: line-through;
      margin-bottom: 0;
    }
  }
}

@media (min-width: 1200px) {
  .product {
    display: block;
  }
}
