.store-item {
  border: 1px solid #ececec;
  padding: 0 10px;
  margin-bottom: 20px;

  &__date {
    font-size: 1rem;
    padding-top: 20px;
    color: #4d5255;
    margin-bottom: 20px;

    &:after {
      content: "";
      display: block;
      border: 1px solid #ececec;
      width: 90%;
      margin-top: 20px;
    }
  }

  &__link {
    text-decoration: none;
    color: $dark;

    &:hover {
      color: $red;
    }
  }

  &__img {
    width: 270px;
  }

  &__title {
    margin-bottom: 20px;
    color: $dark;
  }

  &__price {
    color: $red;
    margin-bottom: 20px;
    display: inline-block;
    margin-right: 20px;
  }
}

.property {
  margin-bottom: 20px;

  &__model {
    font-size: 1rem;
    margin-bottom: 1px;
  }

  &__manufacturer {
    font-size: 1rem;
    margin-bottom: 1px;
  }

  &__weight {
    font-size: 1rem;
  }
}

.in-stock {
  padding-left: 20px;
  border: 1px solid #ececec;
  width: 230px;
  margin-bottom: 20px;

  &__paragraph {
    padding-top: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
  }
}

.product-info {
  color: #4d5255;

  &__title {
    font-size: 1rem;
    font-weight: bold;
  }

  &__details {
    font-size: 1rem;
    margin-bottom: 20px;
  }
}

.sort {
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;

  &__title {
    margin-bottom: 0;
    margin-right: 20px;
    font-weight: bold;
    font-size: 1rem;
  }

  &__select {
    background-color: white;
    border: 1px solid #ececec;
    border-radius: 5px;
    font-size: 1rem;
  }

  &:after {
    content: "";
    display: block;
    border: 1px solid #ececec;
    width: 100%;
    margin-top: 30px;
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__title {
    font-size: 1rem;
    margin-bottom: 20px;
  }
}

.navigation {
  display: flex;
  list-style: none;
  margin-bottom: 30px;

  &__item {
    border: 1px solid transparent;
    width: 27px;
    height: 27px;
    margin-right: 12px;
    background-color: #565656;

    &:hover {
      background-color: #00b600;
    }

    &_next {
      width: 74px;
    }

    &_active {
      background-color: $red;
    }
  }

  &__link {
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1rem;

    &:hover {
      color: white;
    }
  }
}

.add-to-cart {
  display: flex;
  align-items: center;

  &__text {
    font-size: 1rem;
    margin-bottom: 0;
  }

  &__input {
    width: 60px;
    height: 25px;
    margin: 0 20px;
    text-align: center;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
  }
}
