.review-item {
  margin-bottom: 30px;

  &:after {
    content: "";
    display: block;
    border: 1px solid #ececec;
    width: 100%;
    margin-top: 30px;
  }

  &__img {
    width: 100%;
  }

  &__title {
    color: #4d5255;
  }

  &__added {
    font-size: 1rem;

    &:after {
      content: "";
      display: block;
      border: 1px solid #ececec;
      width: 100%;
      margin-top: 10px;
    }
  }

  &__review {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  &__btn {
    border: none;
    padding: 6px;
    color: white;
    background-color: #c0c0c0;
    font-size: 0.8rem;
    margin-right: 5px;

    &:hover {
      background-color: $red;
    }
  }
}

.review-grade {
  display: flex;
  margin-bottom: 20px;

  &__star {
    background: url(../images/star-regular.svg) no-repeat;
    height: 20px;
    width: 20px;

    &_selected {
      background: url(../images/star-solid.svg) no-repeat;
    }
  }
}
