.sale-bg-img {
  background-image: url('../images/bg-pattern.png');
  background-color: #dfdfdf;
}

.block-sale {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;

  &__title {
    margin-bottom: 30px;
  }

  &__description {
    text-align: center;
  }
}

.sale {
  width: 70%;
  position: relative;

  &__img {
    width: 100%;
    margin-bottom: 30px;
  }

  &:before {
    content: "";
    background-image: url(../images/box-icon.png);
    width: 60px;
    height: 60px;
    position: absolute;
  }
}
