.shopping-basket {
  background-color: #ff9c00;
  font-size: 1rem;
  width: 230px;
  margin-left: auto;

  &__btn {
    border: none;
    background-color: transparent;
    padding: 10px 50px;
    color: #fff;
    width: 230px;

    &:hover {
      background-color: #ff7800;
    }

    &::before {
      content: "";
      background: url("../images/cart-icon.png") no-repeat;
      width: 19px;
      height: 17px;
      display: inline-block;
      margin-right: 10px;
    }
  }

  &__cart-down {
    display: none;
    width: 300px;
    position: absolute;
    z-index: 10;
    background-color: white;
    right: 0;
    top: 44px;
    border: 2px solid #ff9c00;

    &_active {
      display: block;
    }
  }
}

.cart-item {
  color: $dark;
  padding: 10px;
  margin-bottom: 20px;

  background: linear-gradient(to top, #e6e6e6 20%, #f7f7f7a3 50%, #fff 80%);

  &__img {
    width: 100%;
  }

  &__delete {
    width: 13px;
    height: 25px;
  }

  &__amount {
    margin-right: 5px;
    font-weight: bold;
    display: inline-block;

    &::after {
      content: " x";
      font-weight: normal;
    }
  }

  &__price {
    display: inline-block;
    margin-right: 10px;
  }
}

.cart-bottom {
  color: $dark;
  text-align: right;
  padding-right: 10px;
  margin-bottom: 20px;

  &__total {
    margin-bottom: 10px;
  }

  &__link {
    text-decoration: none;
    color: white;
    background-color: #c0c0c0;
    padding: 2px 15px;

    &:hover {
      background-color: $red;
    }

    &:hover {
      color: white;
    }
  }
}

.shopping-cart-item {
  border: 1px solid #ececec;
  padding: 0 10px;
  margin-bottom: 20px;

  &__img {
    width: 200px;
  }

  &__title {
    margin-bottom: 20px;
    color: #4d5255;
    padding-top: 20px;
  }

  &__link {
    text-decoration: none;
    color: #4d5255;

    &:hover {
      color: $red;
    }
  }

  &__price {
    color: #d6575b;
    margin-bottom: 20px;
  }
}

.item-count {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  &__amount {
    width: 35px;
    height: 25px;
    text-align: center;
    margin: 0 15px;
  }

  &__sign {
    width: 11px;
    padding-bottom: 10px;
  }
}

.ordering {
  margin-bottom: 20px;

  &__total {
    margin-bottom: 20px;
  }
}
