.search-btn {
  color: $red;
  border-color: $red;

  &:hover {
    background-color: $red;
    border-color: $red;
  }
}

.add-to-cart-btn {
  width: 39px;
  height: 39px;
  border: none;
  background-color: #c0c0c0;
  margin-bottom: 20px;

  &:hover {
    background-color: $red;
  }

  &::after {
    content: "";
    background: url(../images/shopping-basket-solid.svg) no-repeat;
    width: 100%;
    height: 80%;
    display: block;
  }
}

.delete-btn {
  border: none;
  background-color: transparent;
}

.navbar-btn {
  border: 1px solid $red;

  &:focus {
    box-shadow: none;
  }

  &__bars {
    background-image: url('/images/bars-solid.svg');
  }
}

.send-btn {
  width: 100px;
  height: 40px;
  border: none;
  background-color: silver;
  color: #fff;
  font-size: 1rem;

  &:hover {
    background-color: $red;
  }
}

.sign-btn {
  border: none;
  width: 25px;
  height: 25px;
  line-height: 1;
  color: $red;
  background-color: transparent;
  font-weight: bold;
}

.ordering-btn {
  border: 1px solid $red;
  padding: 4px 15px;
  background-color: transparent;
  border-radius: 5px;
  color: $red;

  &:hover {
    background-color: $red;
    color: white;
  }
}
