$cursive-font: 'Amatic SC', cursive;
$main-font: 'Questrial', sans-serif;

$h1: 800 3.0rem $cursive-font;
$h2: 800 2.8rem $cursive-font;
$h3: 800 2.6rem $cursive-font;
$h4: 800 2.4rem $cursive-font;
$h5: 600 1.7rem $cursive-font;
$h6: 500 2.0rem $cursive-font;

$red: #d6575b;
$dark: #4d5255;
