@@include('html/header.html')

<div class="container">
    <div class="row">
        @@include('html/left-menu.html')
        <div class="col-12 col-lg-8">
            <div class="shopping-cart">
                <h3 class="main-title">Your Shopping Cart Contents</h3>
                <div class="shopping-cart-item">
                    <div class="row">
                        <div class="col-12 col-xl-4">
                            <a href="/product-page.html"><img class="shopping-cart-item__img" src="images/01.jpg" alt="good"></a>
                        </div>
                        <div class="col-12 col-xl-8">
                            <h3 class="shopping-cart-item__title"><a href="/product-page.html" class="shopping-cart-item__link">A Charlie Brown Christmas</a></h3>
                            <div class="shopping-cart-item__price">$ 400.00</div>
                            <div class="item-count">
                                <button class="sign-btn">-</button>
                                <input class="item-count__amount" type="text" value="1">
                                <button class="sign-btn">+</button>
                            </div>
                        </div>
                    </div>
                </div><!-- .shopping-cart-item-->
                <div class="shopping-cart-item">
                    <div class="row">
                        <div class="col-12 col-xl-4">
                            <a href="/product-page.html"><img class="shopping-cart-item__img" src="images/01.jpg" alt="good"></a>
                        </div>
                        <div class="col-12 col-xl-8">
                            <h3 class="shopping-cart-item__title"><a href="/product-page.html" class="shopping-cart-item__link">A Charlie Brown Christmas</a></h3>
                            <div class="shopping-cart-item__price">$ 400.00</div>
                            <div class="item-count">
                                <button class="sign-btn">-</button>
                                <input class="item-count__amount" type="text" value="1">
                                <button class="sign-btn">+</button>
                            </div>
                        </div>
                    </div>
                </div><!-- .shopping-cart-item-->
                <div class="shopping-cart-item">
                    <div class="row">
                        <div class="col-12 col-xl-4">
                            <a href="/product-page.html"><img class="shopping-cart-item__img" src="images/01.jpg" alt="good"></a>
                        </div>
                        <div class="col-12 col-xl-8">
                            <h3 class="shopping-cart-item__title"><a href="/product-page.html" class="shopping-cart-item__link">A Charlie Brown Christmas</a></h3>
                            <div class="shopping-cart-item__price">$ 400.00</div>
                            <div class="item-count">
                                <button class="sign-btn">-</button>
                                <input class="item-count__amount" type="text" value="1">
                                <button class="sign-btn">+</button>
                            </div>
                        </div>
                    </div>
                </div><!-- .shopping-cart-item-->
                <div class="shopping-cart-item">
                    <div class="row">
                        <div class="col-12 col-xl-4">
                            <a href="/product-page.html"><img class="shopping-cart-item__img" src="images/01.jpg" alt="good"></a>
                        </div>
                        <div class="col-12 col-xl-8">
                            <h3 class="shopping-cart-item__title"><a href="/product-page.html" class="shopping-cart-item__link">A Charlie Brown Christmas</a></h3>
                            <div class="shopping-cart-item__price">$ 400.00</div>
                            <div class="item-count">
                                <button class="sign-btn">-</button>
                                <input class="item-count__amount" type="text" value="1">
                                <button class="sign-btn">+</button>
                            </div>
                        </div>
                    </div>
                </div><!-- .shopping-cart-item-->
                <div class="ordering">
                    <h3 class="ordering__title">Checkout</h3>
                    <div class="ordering__total">Total: $ 2 000.00</div>
                    <button class="ordering-btn">Buy</button>
                </div>
            </div><!-- .shopping-cart-->
        </div><!-- .col-->
    </div><!-- .row-->
</div><!-- .container-->

@@include('html/footer.html')
