@@include('html/header.html')

<div class="container">
    <div class="row">
        @@include('html/left-menu.html')
        <div class="col-12 col-lg-8">
            <div class="store">
                <h3 class="main-title">Category Name</h3>
                <div class="category-item">
                    <div class="row">
                        <div class="col-3">
                            <img class="category-item__img" src="images/01.jpg" alt="product">
                        </div>
                        <div class="col-6">
                            <h4 class="category-item__title">Title</h4>
                            <div class="category-item__description">You know, it so cool to be a child. It is the most careless time of
                                our life because you have no obligations; everything around you is new and unknown. It
                                is a total naivety and exploration. Kids are the best explorers in the world. They live
                                in a totally different world where it’s impossible to find anything negative. It sounds
                                like nonsense but it is indeed that way.</div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="category-item__price">$ 400.00</div>
                            <div class="category-item__add">Add:</div>
                            <button class="add-to-cart-btn add-to-cart-btn_float-right"></button>
                            <input class="category-item__input" type="text" value='0'>
                        </div>
                    </div>
                </div><!-- .category-item-->

                <div class="category-item">
                    <div class="row">
                        <div class="col-3">
                            <img class="category-item__img" src="images/01.jpg" alt="product">
                        </div>
                        <div class="col-6">
                            <h4 class="category-item__title">Title</h4>
                            <div class="category-item__description">You know, it so cool to be a child. It is the most careless time of
                                our life because you have no obligations; everything around you is new and unknown. It
                                is a total naivety and exploration. Kids are the best explorers in the world. They live
                                in a totally different world where it’s impossible to find anything negative. It sounds
                                like nonsense but it is indeed that way.</div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="category-item__price">$ 400.00</div>
                            <div class="category-item__add">Add:</div>
                            <button class="add-to-cart-btn add-to-cart-btn_float-right"></button>
                            <input class="category-item__input" type="text" value='0'>
                        </div>
                    </div>
                </div><!-- .category-item-->

                <div class="category-item">
                    <div class="row">
                        <div class="col-3">
                            <img class="category-item__img" src="images/01.jpg" alt="product">
                        </div>
                        <div class="col-6">
                            <h4 class="category-item__title">Title</h4>
                            <div class="category-item__description">You know, it so cool to be a child. It is the most careless time of
                                our life because you have no obligations; everything around you is new and unknown. It
                                is a total naivety and exploration. Kids are the best explorers in the world. They live
                                in a totally different world where it’s impossible to find anything negative. It sounds
                                like nonsense but it is indeed that way.</div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="category-item__price">$ 400.00</div>
                            <div class="category-item__add">Add:</div>
                            <button class="add-to-cart-btn add-to-cart-btn_float-right"></button>
                            <input class="category-item__input" type="text" value='0'>
                        </div>
                    </div>
                </div><!-- .category-item-->

                <div class="category-item">
                    <div class="row">
                        <div class="col-3">
                            <img class="category-item__img" src="images/01.jpg" alt="product">
                        </div>
                        <div class="col-6">
                            <h4 class="category-item__title">Title</h4>
                            <div class="category-item__description">You know, it so cool to be a child. It is the most careless time of
                                our life because you have no obligations; everything around you is new and unknown. It
                                is a total naivety and exploration. Kids are the best explorers in the world. They live
                                in a totally different world where it’s impossible to find anything negative. It sounds
                                like nonsense but it is indeed that way.</div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="category-item__price">$ 400.00</div>
                            <div class="category-item__add">Add:</div>
                            <button class="add-to-cart-btn add-to-cart-btn_float-right"></button>
                            <input class="category-item__input" type="text" value='0'>
                        </div>
                    </div>
                </div><!-- .category-item-->
            </div><!-- .store-->
        </div><!-- .col-->
    </div><!-- .row-->
</div><!-- .container-->

@@include('html/footer.html')
