@@include('html/header.html')

<div class="container">
    <div class="row">
        @@include('html/left-menu.html')
        <div class="col-12 col-lg-8">
            <h3 class="main-title">Contact Us</h3>
            <div class="contact-us">
                <div class="contacts">
                    <div class="contacts__phone">Customer Service: +1 800 559 6580</div>
                    <div class="contacts__address">9870 St Vincent Place, Glasgow, DC 45 Fr 45.</div>
                </div>
                <div class="contact-us-form">
                    <div class="required-info">* Required information</div>
                    <form>
                        <div class="row">
                            <div class="col-3">
                                <label class="contact-us-form__label" for="fname">Full Name:</label>
                            </div>
                            <div class="col-9">
                                <input id="fname" type="text" class="form-control" required>
                            </div>
                        </div><!-- .row-->
                        <div class="row">
                            <div class="col-3">
                                <label class="contact-us-form__label" for="femail">Email Address:</label>
                            </div>
                            <div class="col-9">
                                <input id="femail" type="text" class="form-control" required>
                            </div>
                        </div><!-- .row-->
                        <div class="row">
                            <div class="col-3">
                                <label class="contact-us-form__label" for="fmessage">Message:</label>
                            </div>
                            <div class="col-9">
                                <input id="fmessage" type="text" class="form-control contact-us-form__message" required>
                            </div>
                        </div><!-- .row-->
                        <button class="send-btn">Send Now</button>
                    </form>
                </div><!-- .contact-us-form-->
            </div><!-- .contact-us-->
        </div><!-- .col-->
    </div><!-- .row-->
</div><!-- .container-->

@@include('html/footer.html')
