@@include('html/header.html')

<div class="container">
    <div class="page-greeting">
        <h2 class="page-greeting__title">Introducing</h2>
        <img class="page-greeting__img" src="images/ico-title-1.png" alt="title-img">
        <div class="page-greeting__text">Hello, We are DW Page. What We Can Do?</div>
    </div><!-- .page-greeting-->
    <div class="row">
        <div class="col-12 col-md-6 col-xl-4">
            <div class="feature">
                <img class="feature__img" src="images/candy-cane-solid.svg" alt="candy">
                <h5 class="feature__title">Web & UI Design </h5>
                <div class="feature__text">Buspendisse in lorem ipsum ut magna pharera aliquet non sodales lorem ipsum
                    belit. Donec sed odio rera magna pharera aliquet. Nulla uitae elit libero, a pharetra augue.</div>
            </div>
        </div><!-- .col-->
        <div class="col-12 col-md-6 col-xl-4">
            <div class="feature">
                <img class="feature__img" src="images/gift-solid.svg" alt="gift">
                <h5 class="feature__title">Corporate Design</h5>
                <div class="feature__text">Buspendisse in lorem ipsum ut magna pharera aliquet non sodales lorem ipsum
                    belit. Donec sed odio rera magna pharera aliquet. Nulla uitae elit libero, a pharetra augue.</div>
            </div>
        </div><!-- .col-->
        <div class="col-12 col-md-6 col-xl-4">
            <div class="feature">
                <img class="feature__img" src="images/sleigh-solid.svg" alt="sleigh">
                <h5 class="feature__title">HTML 5 Development </h5>
                <div class="feature__text">Buspendisse in lorem ipsum ut magna pharera aliquet non sodales lorem ipsum
                    belit. Donec sed odio rera magna pharera aliquet. Nulla uitae elit libero, a pharetra augue.</div>
            </div>
        </div><!-- .col-->
    </div><!-- .row-->
</div><!-- .container-->

<div class="container">
    <div class="row">
        @@include('html/left-menu.html')
        <div class="col-12 col-lg-8">
            <div class="store">
                <h3 class="main-title">Featured products</h3>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                        <div class="product">
                            <a href="/"><img class="product__img" src="images/01.jpg" alt="1"></a>
                            <button class="add-to-cart-btn" type="button"></button>
                            <a href="/"><h5 class="product__title">Product 1</h5></a>
                            <div class="product__price">$ 500.00</div>
                        </div>
                    </div><!-- .col-->
                    <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                        <div class="product">
                            <a href="/"><img class="product__img" src="images/02.jpg" alt="2"></a>
                            <button class="add-to-cart-btn" type="button"></button>
                            <a href="/"><h5 class="product__title">Product 2</h5></a>
                            <div class="product__price">$ 200.00</div>
                        </div>
                    </div><!-- .col-->
                    <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                        <div class="product">
                            <a href="/"><img class="product__img" src="images/03.jpg" alt="3"></a>
                            <button class="add-to-cart-btn" type="button"></button>
                            <a href="/"><h5 class="product__title">Product 3</h5></a>
                            <div class="product__price">$ 400.00</div>
                        </div>
                    </div><!-- .col-->
                    <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                        <div class="product">
                            <a href="/"><img class="product__img" src="images/04.jpg" alt="4"></a>
                            <button class="add-to-cart-btn" type="button"></button>
                            <a href="/"><h5 class="product__title">Product 4</h5></a>
                            <div class="product__price">$ 540.00</div>
                        </div>
                    </div><!-- .col-->
                    <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                        <div class="product">
                            <a href="/"><img class="product__img" src="images/05.jpg" alt="5"></a>
                            <button class="add-to-cart-btn" type="button"></button>
                            <a href="/"><h5 class="product__title">Product 5</h5></a>
                            <div class="product__price">$ 160.00</div>
                        </div>
                    </div><!-- .col-->
                    <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                        <div class="product">
                            <a href="/"><img class="product__img" src="images/06.jpg" alt="6"></a>
                            <button class="add-to-cart-btn" type="button"></button>
                            <a href="/"><h5 class="product__title">Product 6</h5></a>
                            <div class="product__price">$ 590.00</div>
                        </div>
                    </div><!-- .col-->
                </div><!-- .row-->
            </div><!-- .store-->
        </div><!-- .col-->
    </div><!-- .row-->
</div><!-- .container-->

<div class="sale-bg-img">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-6">
                <div class="block-sale">
                    <h3 class="block-sale__title">Special GIFT with each Purchase</h3>
                    <div class="sale">
                        <a href="/"><img class="sale__img" src="images/02.jpg" alt="good"></a>
                    </div>
                    <h6>Man collection</h6>
                    <div class="block-sale__description">Donec sapien eros, porttitor vehicula dapibus a, sollicitu din at orci. Proin nec interdum mauris, vitae mollis metus.</div>
                </div><!-- .block-sale-->
            </div><!-- .col-->
            <div class="col-12 col-xl-6">
                <div class="block-sale">
                    <h3 class="block-sale__title">Special GIFT with each Purchase</h3>
                    <div class="sale">
                        <a href="/"><img class="sale__img" src="images/03.jpg" alt="good"></a>
                    </div>
                    <h6>Women collection</h6>
                    <div class="block-sale__description">Sed eget molestie nibh. Donec sapien eros, porttitor vehicula dapibus a, sollicitu din at orci. Proin nec interdum.</div>
                </div><!-- .block-sale-->
            </div><!-- .col-->
        </div><!-- .row-->
    </div><!-- .container-->
</div><!-- .sales-bg-img-->

@@include('html/footer.html')
