@@include('html/header.html')

<div class="container">
    <div class="row">
        @@include('html/left-menu.html')
        <div class="col-12 col-lg-8">
            <div class="store">
                <h3 class="main-title">Christmas Candles</h3>
                <div class="store-item">
                    <div class="row">
                        <div class="col-12 col-xl-4">
                            <img class="store-item__img" src="images/01.jpg" alt="good">
                        </div>
                        <div class="col-12 col-xl-8">
                            <h3 class="store-item__title">A Charlie Brown Christmas</h3>
                            <div class="property">
                                <div class="property__model">Model: Model7</div>
                                <div class="property__manufacturer">Manufacturer: Example 1</div>
                                <div class="property__weight">Weight: 3lbs</div>
                            </div>
                            <div class="store-item__price">$ 400.00</div>
                            <div class="add-to-cart">
                                <div class="add-to-cart__text">Add to Cart:</div>
                                <input class="add-to-cart__input" type="text">
                                <button class="add-to-cart-btn"></button>
                            </div>
                        </div>
                    </div>
                    <div class="product-info">
                        <div class="product-info__title">Details:</div>
                        <div class="product-info__details">
                            You know, it so cool to be a child. It is the most careless time of our life because you
                            have no obligations; everything around you is new and unknown. It is a total naivety and
                            exploration. Kids are the best explorers in the world. They live in a totally different
                            world where it’s impossible to find anything negative. It sounds like nonsense but it is
                            indeed that way. Children explore outer world with the help of simple senses – sence of
                            smell, touch, sight and others. That is why it is so important to raise children in an
                            atmosphere of happiness and love. Everything must be perfect because child’s mentality is
                            very tender.

                            Our products are well-designed and they are totally safe for your child’s health. This is a
                            very important aspect because nowadays we have a great number of fakes. You must be aware
                            because fakes are very dangerous for your kids. All toys are well-designed and we are sure
                            that your kids will like it. We can satisfy any whim of our little clients. You can address
                            our online support system if you want to know more.
                        </div>
                    </div>
                </div><!-- .store-item-->
            </div><!-- .store-->
        </div><!-- .col-->
    </div><!-- .row-->
</div><!-- .container-->

@@include('html/footer.html')
