@@include('html/header.html')

<div class="container">
    <div class="row">
        @@include('html/left-menu.html')
        <div class="col-12 col-lg-8">
            <div class="store">
                <h3 class="main-title">New Products</h3>
                <div class="sort">
                    <div class="sort__title">Sort by:</div>
                    <select class="sort__select">
                        <option>Product name</option>
                        <option>Price - low to high</option>
                        <option>Price - high to low</option>
                        <option>Date added - New to Old</option>
                        <option>Date added - Old to New</option>
                    </select>
                </div>
                <div class="pagination">
                    <div class="pagination__title">Displaying 1 to 4 (of 20 new products)</div>
                    <nav>
                        <ul class="navigation">
                            <li class="navigation__item navigation__item_active">
                                <a href="#" class="navigation__link">1</a>
                            </li>
                            <li class="navigation__item">
                                <a href="#" class="navigation__link">2</a>
                            </li>
                            <li class="navigation__item">
                                <a href="#" class="navigation__link">3</a>
                            </li>
                            <li class="navigation__item">
                                <a href="#" class="navigation__link">4</a>
                            </li>
                            <li class="navigation__item">
                                <a href="#" class="navigation__link">5</a>
                            </li>
                            <li class="navigation__item navigation__item_next">
                                <a href="#" class="navigation__link">Next >></a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="store-item">
                    <div class="row">
                        <div class="col-12 col-xl-4">
                            <a href="/product-page.html"><img class="store-item__img" src="images/01.jpg" alt="good"></a>
                        </div>
                        <div class="col-12 col-xl-8">
                            <div class="store-item__date">Date Added: Thursday 09 September, 2010</div>
                            <h3 class="store-item__title"><a href="/product-page.html" class="store-item__link">A Charlie Brown Christmas</a></h3>
                            <div class="property">
                                <div class="property__model">Model: Model7</div>
                                <div class="property__manufacturer">Manufacturer: Example 1</div>
                                <div class="property__weight">Weight: 3lbs</div>
                            </div>
                            <div class="store-item__price">$ 400.00</div>
                            <button class="add-to-cart-btn"></button>
                        </div>
                    </div>
                    <div class="in-stock">
                        <div class="in-stock__paragraph">In stock: 999 $</div>
                    </div>
                    <div class="product-info">
                        <div class="product-info__title">Details:</div>
                        <div class="product-info__details">
                            You know, it so cool to be a child. It is the most careless time of our
                            life because you have no obligations; everything around you is new and unknown. It is a
                            total naivety and exploration. Kids are the best explorers in the world. They live in a
                            totally different world where it’s impossible to find anything negative. It sounds like
                            nonsense but it is indeed that way.
                        </div>
                    </div>
                </div><!-- .store-item-->

                <div class="store-item">
                    <div class="row">
                        <div class="col-12 col-xl-4">
                            <a href="/product-page.html"><img class="store-item__img" src="images/01.jpg" alt="good"></a>
                        </div>
                        <div class="col-12 col-xl-8">
                            <div class="store-item__date">Date Added: Thursday 09 September, 2010</div>
                            <h3 class="store-item__title"><a href="/product-page.html" class="store-item__link">A Charlie Brown Christmas</a></h3>
                            <div class="property">
                                <div class="property__model">Model: Model7</div>
                                <div class="property__manufacturer">Manufacturer: Example 1</div>
                                <div class="property__weight">Weight: 3lbs</div>
                            </div>
                            <div class="store-item__price">$ 400.00</div>
                            <button class="add-to-cart-btn"></button>
                        </div>
                    </div>
                    <div class="in-stock">
                        <div class="in-stock__paragraph">In stock: 999 $</div>
                    </div>
                    <div class="product-info">
                        <div class="product-info__title">Details:</div>
                        <div class="product-info__details">
                            You know, it so cool to be a child. It is the most careless time of our
                            life because you have no obligations; everything around you is new and unknown. It is a
                            total naivety and exploration. Kids are the best explorers in the world. They live in a
                            totally different world where it’s impossible to find anything negative. It sounds like
                            nonsense but it is indeed that way.
                        </div>
                    </div>
                </div><!-- .store-item-->

                <div class="store-item">
                    <div class="row">
                        <div class="col-12 col-xl-4">
                            <a href="/product-page.html"><img class="store-item__img" src="images/01.jpg" alt="good"></a>
                        </div>
                        <div class="col-12 col-xl-8">
                            <div class="store-item__date">Date Added: Thursday 09 September, 2010</div>
                            <h3 class="store-item__title"><a href="/product-page.html" class="store-item__link">A Charlie Brown Christmas</a></h3>
                            <div class="property">
                                <div class="property__model">Model: Model7</div>
                                <div class="property__manufacturer">Manufacturer: Example 1</div>
                                <div class="property__weight">Weight: 3lbs</div>
                            </div>
                            <div class="store-item__price">$ 400.00</div>
                            <button class="add-to-cart-btn"></button>
                        </div>
                    </div>
                    <div class="in-stock">
                        <div class="in-stock__paragraph">In stock: 999 $</div>
                    </div>
                    <div class="product-info">
                        <div class="product-info__title">Details:</div>
                        <div class="product-info__details">
                            You know, it so cool to be a child. It is the most careless time of our
                            life because you have no obligations; everything around you is new and unknown. It is a
                            total naivety and exploration. Kids are the best explorers in the world. They live in a
                            totally different world where it’s impossible to find anything negative. It sounds like
                            nonsense but it is indeed that way.
                        </div>
                    </div>
                </div><!-- .store-item-->

                <div class="store-item">
                    <div class="row">
                        <div class="col-12 col-xl-4">
                            <a href="/product-page.html"><img class="store-item__img" src="images/01.jpg" alt="good"></a>
                        </div>
                        <div class="col-12 col-xl-8">
                            <div class="store-item__date">Date Added: Thursday 09 September, 2010</div>
                            <h3 class="store-item__title"><a href="/product-page.html" class="store-item__link">A Charlie Brown Christmas</a></h3>
                            <div class="property">
                                <div class="property__model">Model: Model7</div>
                                <div class="property__manufacturer">Manufacturer: Example 1</div>
                                <div class="property__weight">Weight: 3lbs</div>
                            </div>
                            <div class="store-item__price">$ 400.00</div>
                            <button class="add-to-cart-btn"></button>
                        </div>
                    </div>
                    <div class="in-stock">
                        <div class="in-stock__paragraph">In stock: 999 $</div>
                    </div>
                    <div class="product-info">
                        <div class="product-info__title">Details:</div>
                        <div class="product-info__details">
                            You know, it so cool to be a child. It is the most careless time of our
                            life because you have no obligations; everything around you is new and unknown. It is a
                            total naivety and exploration. Kids are the best explorers in the world. They live in a
                            totally different world where it’s impossible to find anything negative. It sounds like
                            nonsense but it is indeed that way.
                        </div>
                    </div>
                </div><!-- .store-item-->
            </div><!-- .store-->
        </div><!-- .col-->
    </div><!-- .row-->
</div><!-- .container-->

@@include('html/footer.html')
