@@include('html/header.html')

<div class="container">
    <div class="row">
        @@include('html/left-menu.html')
        <div class="col-12 col-lg-8">
            <h3 class="main-title">Reviews</h3>
            <div class="review-item">
                <div class="row">
                    <div class="col-4">
                        <img class="review-item__img" src="images/01.jpg" alt="product">
                    </div>
                    <div class="col-8">
                        <h5 class="review-item__title">Name author, name product</h5>
                        <div class="review-grade">
                            <div class="review-grade__star review-grade__star_selected"></div>
                            <div class="review-grade__star review-grade__star_selected"></div>
                            <div class="review-grade__star"></div>
                            <div class="review-grade__star"></div>
                            <div class="review-grade__star"></div>
                        </div>
                        <div class="review-item__added">Date Added: 06/06/2011 by Lorem Ipsum Dolor</div>
                        <div class="review-item__review">Praesent urna nibh, auctor sit amet, facilisis gravida, adipiscing vel, sem. Nullam metus mi</div>
                        <a class="review-item__link" href="/review-page.html"><button class="review-item__btn" type="button">Read the Review</button></a>
                        <a class="review-item__link" href="/product-page.html"><button class="review-item__btn" type="button">Details</button></a>
                    </div>
                </div>
            </div><!-- .review-item-->
            <div class="review-item">
                <div class="row">
                    <div class="col-4">
                        <img class="review-item__img" src="images/01.jpg" alt="product">
                    </div>
                    <div class="col-8">
                        <h5 class="review-item__title">Name author, name product</h5>
                        <div class="review-grade">
                            <div class="review-grade__star review-grade__star_selected"></div>
                            <div class="review-grade__star review-grade__star_selected"></div>
                            <div class="review-grade__star review-grade__star_selected"></div>
                            <div class="review-grade__star review-grade__star_selected"></div>
                            <div class="review-grade__star"></div>
                        </div>
                        <div class="review-item__added">Date Added: 06/06/2011 by Lorem Ipsum Dolor</div>
                        <div class="review-item__review">Praesent urna nibh, auctor sit amet, facilisis gravida, adipiscing vel, sem. Nullam metus mi</div>
                        <a class="review-item__link" href="/review-page.html"><button class="review-item__btn" type="button">Read the Review</button></a>
                        <a class="review-item__link" href="/product-page.html"><button class="review-item__btn" type="button">Details</button></a>
                    </div>
                </div>
            </div><!-- .review-item-->
            <div class="review-item">
                <div class="row">
                    <div class="col-4">
                        <img class="review-item__img" src="images/01.jpg" alt="product">
                    </div>
                    <div class="col-8">
                        <h5 class="review-item__title">Name author, name product</h5>
                        <div class="review-grade">
                            <div class="review-grade__star review-grade__star_selected"></div>
                            <div class="review-grade__star review-grade__star_selected"></div>
                            <div class="review-grade__star"></div>
                            <div class="review-grade__star"></div>
                            <div class="review-grade__star"></div>
                        </div>
                        <div class="review-item__added">Date Added: 06/06/2011 by Lorem Ipsum Dolor</div>
                        <div class="review-item__review">Praesent urna nibh, auctor sit amet, facilisis gravida, adipiscing vel, sem. Nullam metus mi</div>
                        <a class="review-item__link" href="/review-page.html"><button class="review-item__btn" type="button">Read the Review</button></a>
                        <a class="review-item__link" href="/product-page.html"><button class="review-item__btn" type="button">Details</button></a>
                    </div>
                </div>
            </div><!-- .review-item-->
            <div class="review-item">
                <div class="row">
                    <div class="col-4">
                        <img class="review-item__img" src="images/01.jpg" alt="product">
                    </div>
                    <div class="col-8">
                        <h5 class="review-item__title">Name author, name product</h5>
                        <div class="review-grade">
                            <div class="review-grade__star review-grade__star_selected"></div>
                            <div class="review-grade__star review-grade__star_selected"></div>
                            <div class="review-grade__star review-grade__star_selected"></div>
                            <div class="review-grade__star review-grade__star_selected"></div>
                            <div class="review-grade__star review-grade__star_selected"></div>
                        </div>
                        <div class="review-item__added">Date Added: 06/06/2011 by Lorem Ipsum Dolor</div>
                        <div class="review-item__review">Praesent urna nibh, auctor sit amet, facilisis gravida, adipiscing vel, sem. Nullam metus mi</div>
                        <a class="review-item__link" href="/review-page.html"><button class="review-item__btn" type="button">Read the Review</button></a>
                        <a class="review-item__link" href="/product-page.html"><button class="review-item__btn" type="button">Details</button></a>
                    </div>
                </div>
            </div><!-- .review-item-->
            <div class="review-item">
                <div class="row">
                    <div class="col-4">
                        <img class="review-item__img" src="images/01.jpg" alt="product">
                    </div>
                    <div class="col-8">
                        <h5 class="review-item__title">Name author, name product</h5>
                        <div class="review-grade">
                            <div class="review-grade__star review-grade__star_selected"></div>
                            <div class="review-grade__star review-grade__star_selected"></div>
                            <div class="review-grade__star"></div>
                            <div class="review-grade__star"></div>
                            <div class="review-grade__star"></div>
                        </div>
                        <div class="review-item__added">Date Added: 06/06/2011 by Lorem Ipsum Dolor</div>
                        <div class="review-item__review">Praesent urna nibh, auctor sit amet, facilisis gravida, adipiscing vel, sem. Nullam metus mi</div>
                        <a class="review-item__link" href="/review-page.html"><button class="review-item__btn" type="button">Read the Review</button></a>
                        <a class="review-item__link" href="/product-page.html"><button class="review-item__btn" type="button">Details</button></a>
                    </div>
                </div>
            </div><!-- .review-item-->
        </div><!-- .col-->
    </div><!-- .row-->
</div><!-- .container-->

@@include('html/footer.html')
