@@include('html/header.html')

<div class="container">
    <div class="row">
        @@include('html/left-menu.html')
        <div class="col-12 col-lg-8">
            <div class="store">
                <h3 class="main-title">Reviews</h3>
            </div><!-- .store-->
            <div class="review-item">
                <div class="row">
                    <div class="col-4">
                        <img class="review-item__img" src="images/01.jpg" alt="product">
                    </div>
                    <div class="col-8">
                        <h5 class="review-item__title">Name author, name product</h5>
                        <div class="review-grade">
                            <div class="review-grade__star review-grade__star_selected"></div>
                            <div class="review-grade__star review-grade__star_selected"></div>
                            <div class="review-grade__star review-grade__star_selected"></div>
                            <div class="review-grade__star"></div>
                            <div class="review-grade__star"></div>
                        </div>
                        <div class="review-item__added">Date Added: 06/06/2011 by Lorem Ipsum Dolor</div>
                        <div class="review-item__review">Praesent urna nibh, auctor sit amet, facilisis gravida,
                            adipiscing vel, sem. Nullam metus mi, pretium in, mattis vitae, tempor quis, ligula. Etiam
                            pulvinar tempor sapien. Proin dictum tristique felis. Nunc odio. Mauris molestie pulvinar
                            nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                            hymenaeos. Pellentesque nonummy justo quis nunc. Quisque non enim. Donec arcu orci, pulvinar
                            eu, mattis ac, ornare ut, turpis. In hac habitasse platea dictumst. Suspendisse lacus
                            turpis, molestie pulvinar, accumsan eu, dictum sed, pede. Sed diam diam, molestie sit amet,
                            ultrices vel, blandit in, lectus. Nullam tempor pede sed mi. Cras consequat mauris eget
                            nisi. Nullam ultricies libero nec lacus. Fusce sed risus.
                        </div>
                        <a class="review-item__link" href="/product-page.html">
                            <button class="review-item__btn" type="button">Details</button>
                        </a>
                    </div>
                </div>
            </div><!-- .review-item-->
        </div><!-- .col-->
    </div><!-- .row-->
</div><!-- .container-->

@@include('html/footer.html')
