@@include('html/header.html')

<div class="container">
    <div class="row">
        @@include('html/left-menu.html')
        <div class="col-12 col-lg-8">
            <div class="store">
                <h3 class="main-title">Specials</h3>
                <div class="store__displaying">Displaying 1 to 6 (of 6 specials)</div>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                        <div class="product">
                            <a href="/"><img class="product__img" src="images/01.jpg" alt="1"></a>
                            <button class="add-to-cart-btn" type="button"></button>
                            <a href="/"><h5 class="product__title">Product 1</h5></a>
                            <div class="product__price product__price_old-price">$ 700.00</div>
                            <div class="product__price">$ 500.00</div>
                        </div>
                    </div><!-- .col-->
                    <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                        <div class="product">
                            <a href="/"><img class="product__img" src="images/02.jpg" alt="2"></a>
                            <button class="add-to-cart-btn" type="button"></button>
                            <a href="/"><h5 class="product__title">Product 2</h5></a>
                            <div class="product__price product__price_old-price">$ 700.00</div>
                            <div class="product__price">$ 200.00</div>
                        </div>
                    </div><!-- .col-->
                    <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                        <div class="product">
                            <a href="/"><img class="product__img" src="images/03.jpg" alt="3"></a>
                            <button class="add-to-cart-btn" type="button"></button>
                            <a href="/"><h5 class="product__title">Product 3</h5></a>
                            <div class="product__price product__price_old-price">$ 700.00</div>
                            <div class="product__price">$ 400.00</div>
                        </div>
                    </div><!-- .col-->
                    <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                        <div class="product">
                            <a href="/"><img class="product__img" src="images/04.jpg" alt="4"></a>
                            <button class="add-to-cart-btn" type="button"></button>
                            <a href="/"><h5 class="product__title">Product 4</h5></a>
                            <div class="product__price product__price_old-price">$ 700.00</div>
                            <div class="product__price">$ 540.00</div>
                        </div>
                    </div><!-- .col-->
                    <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                        <div class="product">
                            <a href="/"><img class="product__img" src="images/05.jpg" alt="5"></a>
                            <button class="add-to-cart-btn" type="button"></button>
                            <a href="/"><h5 class="product__title">Product 5</h5></a>
                            <div class="product__price product__price_old-price">$ 700.00</div>
                            <div class="product__price">$ 160.00</div>
                        </div>
                    </div><!-- .col-->
                    <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                        <div class="product">
                            <a href="/"><img class="product__img" src="images/06.jpg" alt="6"></a>
                            <button class="add-to-cart-btn" type="button"></button>
                            <a href="/"><h5 class="product__title">Product 6</h5></a>
                            <div class="product__price product__price_old-price">$ 700.00</div>
                            <div class="product__price">$ 590.00</div>
                        </div>
                    </div><!-- .col-->
                </div><!-- .row-->
            </div><!-- .store-->
        </div><!-- .col-->
    </div><!-- .row-->
</div><!-- .container-->

@@include('html/footer.html')
